@font-face {
    font-family: Russo;
    src: url(../fonts/Russo_One/RussoOne-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: Gothic;
    src: url(../fonts/Sawarabi_Gothic/SawarabiGothic-Regular.ttf);
    font-style: normal;
}
